@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
.slot-container{
    background-color: #f8f9fa;
    font-family: "Poppins",sans-serif;
    color: #272b41;
}
.slot-container *{
    color: #272b41;
    font-family: 'Poppins', sans-serif;
}
a:active, a:focus, a:hover {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #09dca4; 
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}

.edit-link {
    color: #20c0f3 !important; 
    font-size: 16px;
    margin-top: 4px;
}
.edit-link  i{
    color: #20c0f3 !important; 
}
.card {
    border: 1px solid #f0f0f0;
    margin-bottom: 1.875rem;
    height: auto;
}
.card-body{
    height: auto;
}
.card-title {
    margin-bottom: 15px;
}
.schedule-widget {
    border-radius: 4px;
    min-height: 100px;
}
.schedule-header {
    border-bottom: 1px solid #f0f0f0;
    border-radius: 4px 4px 0 0;
    padding: 10px 20px;
}
.schedule-nav .nav-tabs {
    border: 0!important;
    flex-wrap: wrap;
}
.schedule-nav .nav-tabs li {
    margin: 5px 15px 5px 0;
    display: inline-block;
}
.schedule-nav .nav-tabs li a.active {
    background: #ff4877;
    border: 1px solid #ff4877!important;
    color: #fff;
}
.schedule-nav .nav-tabs>li>a {
    border: 1px solid #dcddea;
    border-radius: 4px;
    padding: 6px 15px;
    text-transform: uppercase;
}
.schedule-cont {
    padding: 20px;
}
.tab-content.schedule-cont .card-title {
    margin-bottom: 10px;
}
.nav-tabs.nav-justified>li>a:focus, .nav-tabs.nav-justified>li>a:hover {
    border-bottom-color: #ddd;
    text-decoration: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: #eee;
    border-color: transparent;
    color: #272b41;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}
a.edit-link:hover{
    text-decoration: none;
}
.doc-times {
    display: flex;
    flex-wrap: wrap;
}
.doc-slot-list {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin: 10px 10px 0 0;
    padding: 6px 15px;
}
.doc-slot-list a {
    color: #e48784;
    display: inline-block;
    margin-left: 5px;
}
.mylabel{
    font-weight: 500;
}