@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#myloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    z-index: 6500;
    display: none

}